{% extends 'users/_profile.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{% blocktrans %}Parolni yangilash{% endblocktrans %}
{% endblock title %}


{% block content %}
<div class="container my-4 pt-4">
    <div class="col-xxl-8">
        <h1>
            <p class="text-end fs-1 me-2">
                <span class="me-3">{% blocktrans %}Kalit so'zni yangilash{% endblocktrans %}</span>
                <a href="{% url 'users:profile' %}" class="text-danger">
                    <i class="fa-solid fa-rectangle-xmark">

                    </i>
                </a>
            </p>
        </h1>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success my-4">
                {% blocktrans %}Tasdiqlash{% endblocktrans %}
            </button>
        </form>
    </div>
</div>

{% endblock content %}


