{% extends 'users/_profile.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{% blocktrans %}Yangi parol o'rnatish{% endblocktrans %}
{% endblock title %}


{% block content %}
<div class="container my-4">
    <div class="col-8">
        <h1>
            {% blocktrans %}Yangi kalit so'z o'rnating{% endblocktrans %}
        </h1>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success my-4">
                {% blocktrans %}Saqlash{% endblocktrans %}
            </button>
        </form>
    </div>
</div>

{% endblock content %}


