{% extends 'users/_profile.html' %}
{% block title %}
{% blocktrans %}Parolni yangilash{% endblocktrans %}
{% endblock title %}
{% load i18n %}

{% block content %}
<div class="container my-4">
    <div class="col-8">
       <h1>{% blocktrans %}Kalit so'z (Parol) yangilandi .{% endblocktrans %}</h1>
        <p>{% blocktrans %}Ortga qaytish --> {% endblocktrans %}<a style="text-decoration: none" href="{% url 'users:profile' %}">{% blocktrans %}...shaxsiy...{% endblocktrans %}</a></p>
    </div>
</div>

{% endblock content %}








