{% extends 'users/_profile.html' %}
{% block title %}
{% blocktrans %}Yangi kalit so'z o'rnatildi{% endblocktrans %}
{% endblock title %}
{% load i18n %}

{% block content %}
<div class="container my-4">
    <div class="col-8">
       <h1>{% blocktrans %}Yangi Kalit so'z o'rnatildi.{% endblocktrans %}</h1>
        <p>{% blocktrans %}Yangi kalit so'z orqali tizimga kirishiz mumkin.{% endblocktrans %}</p>
        <p>{% blocktrans %}Kirish --> {% endblocktrans %}<a style="text-decoration: none;" href="{% url 'users:login' %}">{% blocktrans %}...login...{% endblocktrans %}</a></p>
    </div>
</div>

{% endblock content %}








