{% extends 'base.html' %}
{% load i18n %}
{% block title %}

{% blocktrans with title=article.title %}
    {{ title }} - O'chirish
{% endblocktrans %}

{% endblock title %}


{% block content %}
<div class="container col-md-6 shadow-lg rounded-4 mt-4  font-consolas">
    <h1 class="font-consolas mt-2 mx-4 text-center">
        {% blocktrans with title=article.title %}"{{ title }}"ni o'chirish{% endblocktrans %}
    </h1>
    <div class="col mt-4 mx-4">

        <h3 class="mb-4 text-danger">{% blocktrans with title=article.title %}"{{ title }}" ni o'chirishni istaysizmi ?{% endblocktrans %}</h3>


        <hr class="my-3">
        <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-between container">
                <button type="submit"
                        class="btn btn-outline-danger mb-4">
                    {% blocktrans %}O'chirish{% endblocktrans %}
                </button>
                <a class="btn btn-outline-dark ms-4 mb-4"
                        href="{{ article.get_absolute_url }}">
                    {% blocktrans %}Ortga{% endblocktrans %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}












