{% load static %}
{% load i18n %}

<li class="nav-item fornow" >
    <a class="nav-link active" href="{% url 'journal:main_page' %}">
        <i style="color: red" class="fa-solid fa-house fs-4"></i>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "uz" %}
            <span class="span-color-always2" style="color: red">Asosiy</span>
        {% elif LANGUAGE_CODE == "en" %}
            <span class="span-color-always2" style="color: red">Main </span>
        {% elif LANGUAGE_CODE == "ru" %}
            <span class="span-color-always2" style="color: red">Основной</span>
        {% endif %}
    </a>
</li>
<li class="nav-item fornow" >
    <a class="nav-link active" aria-current="page" href="{% url 'journal:post_list' %}">
        <i class="fa-regular fa-newspaper fs-4" style="color: red"></i>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "uz" %}
        <span class="span-color-always2" style="color: red">Yangiliklar</span>
        {% elif LANGUAGE_CODE == "en" %}
        <span class="span-color-always2" style="color: red">News </span>
        {% elif LANGUAGE_CODE == "ru" %}
        <span class="span-color-always2" style="color: red">Новости</span>
        {% endif %}
    </a>
</li>
<li class="nav-item fornow" >
    <a class="nav-link active" aria-current="page" href="{% url 'journal:article_list' %}">
        <i style="color: red" class="fa-solid fa-book-journal-whills fs-4"></i>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "uz" %}
        <span class="span-color-always2" style="color: red">Maqolalar</span>
        {% elif LANGUAGE_CODE == "en" %}
        <span class="span-color-always2" style="color: red">Articles</span>
        {% elif LANGUAGE_CODE == "ru" %}
        <span class="span-color-always2" style="color: red">Статьи</span>
        {% endif %}
    </a>
</li>
<li class="nav-item fornow" >
    <a class="nav-link active" aria-current="page" href="{% url 'journal:contact' %}">
        <i style="color: red" class=" fa-regular fa-address-book fs-4"></i>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "uz" %}
        <span class="span-color-always2" style="color: red">Bog'lanish</span>
        {% elif LANGUAGE_CODE == "en" %}
        <span class="span-color-always2" style="color: red">Connect </span>
        {% elif LANGUAGE_CODE == "ru" %}
        <span class="span-color-always2" style="color: red">Cвязь</span>
        {% endif %}
    </a>
</li>
<li class="nav-item fornow" >
    <a class="nav-link active" aria-current="page" href="{% url 'journal:journal_list' %}">
        <i style="color: red" class=" fa-regular fa-folder-open fs-4"></i>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "uz" %}
        <span class="span-color-always2" style="color: red">Arxiv</span>
        {% elif LANGUAGE_CODE == "en" %}
        <span class="span-color-always2" style="color: red">Archive </span>
        {% elif LANGUAGE_CODE == "ru" %}
        <span class="span-color-always2" style="color: red">Aрхив</span>
        {% endif %}
    </a>
</li>
<li class="nav-item fornow" >
    <a class="nav-link active" aria-current="page" href="{% url 'journal:about_journal' %}">
        <i style="color: red" class=" fa-solid fa-circle-info fs-4"></i>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "uz" %}
        <span class="span-color-always2" style="color: red">Jurnal haqida</span>
        {% elif LANGUAGE_CODE == "en" %}
        <span class="span-color-always2" style="color: red">About journal</span>
        {% elif LANGUAGE_CODE == "ru" %}
        <span class="span-color-always2" style="color: red">O журнале</span>
        {% endif %}
    </a>
</li>
<li class="nav-item fornow" >
    <a class="nav-link active" aria-current="page" href="{% url 'journal:booking_article' %}">
        <i style="color: red" class=" fa-regular fa-pen-to-square fs-4"></i>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "uz" %}
        <span class="span-color-always2" style="color: red">Maqola yuborish</span>
        {% elif LANGUAGE_CODE == "en" %}
        <span class="span-color-always2" style="color: red">Sending article</span>
        {% elif LANGUAGE_CODE == "ru" %}
        <span class="span-color-always2" style="color: red">Oтправить статью</span>
        {% endif %}
    </a>
</li>