{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% blocktrans %}
Ro'yxatdan o'tish
{% endblocktrans %}
{% endblock title %}


{% block content %}
<div class="container col-xxl-6 shadow-lg rounded-4 mt-4">
    <h1 class="font-consolas mt-2 mx-4 text-center">
        {% blocktrans %}Ro'yxatdan o'tish{% endblocktrans %}
    </h1>
    <div class="col mt-4 mx-4">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in user_form %}
                {{ field.errors }}
                <p>{{ field }}</p>
            {% endfor %}
            {% for field in profile_form %}
                {{ field.errors }}
                <p>{{ field }}</p>
            {% endfor %}

            <button type="submit" class="btn btn-outline-success mb-4">{% blocktrans %}Register{% endblocktrans %}</button>
        </form>
    </div>
</div>
{% endblock content %}



