
.hover-panel:hover{
    background-image: linear-gradient(lightgoldenrodyellow, lightyellow, white);
}


.span-color-in-user
{
    color: blue;
}

.span-hover-in-user:hover
{
    color: lightseagreen;}



