{% extends 'users/_profile.html' %}
{% load i18n %}
{% block title %}
{% blocktrans %}Jurnal yaratish{% endblocktrans %}
{% endblock title %}


{% block content %}
<div class="container shadow-lg rounded-4 mt-4 pt-2">
    <h1 class="font-consolas mt-2 mx-4 text-center">
        <p class="text-end text-xxl-center fs-1 me-2">
            <span class="me-2">{% blocktrans %}Jurnal yaratish{% endblocktrans %}</span>
            <a href="{% url 'users:profile' %}" class="text-danger">
                <i class="fa-solid fa-rectangle-xmark">

                </i>
            </a>
        </p>
    </h1>

    <div class="col-xxl mt-4 mx-4">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {{ field.errors }}
            <p>{{ field.label_tag }}</p>
            <p>{{ field }}</p>
            {% endfor %}
            <button type="submit"
                    class="btn btn-outline-success mb-4">{% blocktrans %}Saqlash{% endblocktrans %}
            </button>
        </form>
    </div>
</div>
{% endblock content %}


